# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: pytest

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['2.7', '3.7', '3.8']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Upgrade pip
      run: python -m pip install --upgrade pip
    - name: Install Python 2 dependencies
      if: "matrix.python-version == '2.7'"
      run: pip install -r dev-requirements.txt
    - name: Install Python 3 dependencies
      if: "matrix.python-version != '2.7'"
      run: pip install -r dev-requirements-py3.txt
    - name: Run pytest
      run: |
        cd src
        pytest ../tests --cov=. -vv
    - name: Run coveralls
      run: |
        coveralls
